* {
  margin: 0;
  padding: 0;
}

.chart-wrapper {
  width: 1000px;
  height: 550px;
  background: #f8f8f8;
  margin: 20px;
}

.linechart-container,
.areachart-container,
.xbarchart-container,
.ybarchart-container,
.ybarchart-container2,
.piechart-container,
.thumbnail-container {
  background: #fff;
  display: inline-block;
  margin: 10px;

  .line-path {
    fill: none;
    stroke: #198EF0;
    stroke-width: 2;
  }

  .y-title,
  .x-title {
    fill: #6A7984;
    font-size: 12px;
  }

  .domain,
  .tick {
    stroke: #6A7984;
  }

  .tick line {
    stroke: #6A7984;
  }
}

.pie-descri{
  padding: 10px;
}
